In [1]:
import pandas as pd
import pymongo
import mysql.connector as connection
import json
import csvkit
import warnings
warnings. filterwarnings('ignore')

### TASK1  - FitBit Data Questions

In [2]:
#Load this dataset in pandas , mysql and mongodb use automation while loading data in sql table

# loading in pandas
df = pd.read_csv('FitBit_data.csv')

#loading data in mongodb- 

client = pymongo.MongoClient("mongodb+srv://piyush1304:System909@cluster0.gocvn.mongodb.net/?retryWrites=true&w=majority")
database1 = client['task_fitbit']
collection1 = database1['fitbitdata']
data = df.to_dict(orient="record")
collection1.insert_many(data)

#loading data in mysql
!csvsql --insert --create-if-not-exists --db "mysql+mysqlconnector://root:root@localhost/student" FitBit_data.csv

C:\Users\HP\anaconda3\envs\MongoDbtest\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
C:\Users\HP\anaconda3\envs\MongoDbtest\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter

In [3]:
# Convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
df['Converted_ActivityDate'] = pd.to_datetime(df['ActivityDate'])

In [4]:
# Find out in this data that how many unique id's we have 
df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [5]:
# which id is one of the active id that you have in whole dataset 
df.iloc[df['Calories'].sort_values(ascending=False).index[0]]['Id']

2891001357

In [6]:
# how many of them have not logged there activity find out in terms of number of ids 
df[df['LoggedActivitiesDistance'] == 0]['Id'].nunique()

35

In [7]:
# Find out who is the laziest person id that we have in dataset
df[df['Calories'] == min(df['Calories'])]['Id']

134    2873212765
240    4319703577
290    4702921684
323    6117666160
412    8253242879
Name: Id, dtype: int64

In [8]:
# Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset
#on an average 2500 calories needs to be burned for a healthy person

df[df['Calories'] > 2500]['Id'].nunique()

17

In [9]:
# how many person are not a regular person with respect to activity try to find out those 
max(df['Converted_ActivityDate']) - min(df['Converted_ActivityDate'])
df1 = df.groupby('Id')['Converted_ActivityDate'].max().reset_index()
df1['Converted_ActivityDate_min'] = df.groupby('Id')['Converted_ActivityDate'].min().reset_index()['Converted_ActivityDate']
df1['number of days'] = (df1['Converted_ActivityDate'] - df1['Converted_ActivityDate_min'] )
df2 = df['Id'].value_counts().reset_index()
df3 = pd.merge(df1,df2,left_on='Id',right_on='index')
df3.drop(['Converted_ActivityDate','Converted_ActivityDate_min','Id_x'],axis=1,inplace=True)
df3.rename(columns={'Id_y':'Diff_start_end_days',"number of days":"total records of id","index":"id"},inplace=True)
df3

   total records of id          id  Diff_start_end_days
0              18 days  1503960366                   19
1              18 days  1624580081                   19
2               9 days  1644430081                   10
3              11 days  1844505072                   12
4              11 days  1927972279                   12
5              11 days  2022484408                   12
6              11 days  2026352035                   12
7              11 days  2320127002                   12
8              14 days  2347167796                   15
9              11 days  2873212765                   12
10              7 days  2891001357                    8
11              9 days  3372868164                   10
12             11 days  3977333714                   12
13             31 days  4020332650                   32
14             31 days  4057192912                   32
15             11 days  4319703577                   12
16              7 days  4388161847                    8
17             14 days  4445114986                   15
18             11 days  4558609924                   12
19             14 days  4702921684                   15
20             11 days  5553957443                   12
21             10 days  5577150313                   11
22              9 days  6117666160                   10
23              9 days  6290855005                   10
24              8 days  6391747486                    9
25              8 days  6775888955                    9
26             13 days  6962181067                   14
27             11 days  7007744171                   12
28             11 days  7086361926                   12
29             10 days  8053475328                   11
30             11 days  8253242879                   12
31             11 days  8378563200                   12
32              7 days  8583815059                    8
33             11 days  8792009665                   12
34             11 days  8877689391                   12

So,here the different id have started using device on different days, so cannot be compared with usage based on 30 days in a month
As part of our analysis, so now assuming, if the calorie burnt by a id on a particular day is less than 500, then it is not considered
as regular.

In [10]:
df[df['Calories'] <= 500]['Id'].unique()

array([1503960366, 1644430081, 1844505072, 2347167796, 2873212765,
       3977333714, 4020332650, 4319703577, 4702921684, 6117666160,
       6391747486, 8253242879], dtype=int64)

In [11]:
# who is the thired most active person in this dataset find out those in pandas and in sql both .
#SQL Query-
#select Id from fitbit_data order by Calories DESC Limit 1 Offset 2;
#pandas - 
df.loc[df.sort_values(by='Calories',ascending=False).index[2]]['Id']

5577150313

In [12]:
# who is the 5th most laziest person avilable in dataset find it out
df.loc[df.sort_values(by='Calories').index[4]]['Id']

4319703577

In [13]:
# what is a totla acumulative calories burn for a person find out
df_final = (df.groupby('Id')['Calories'].sum()).to_frame()
df_final

            Calories
Id
1503960366     34128
1624580081     25705
1644430081     29164
1844505072     19391
1927972279     27048
2022484408     29704
2026352035     16266
2320127002     18385
2347167796     30320
2873212765     20349
2891001357     18187
3372868164     18603
3977333714     16777
4020332650     98412
4057192912     60913
4319703577     23931
4388161847     14442
4445114986     31617
4558609924     21962
4702921684     42322
5553957443     21630
5577150313     36303
6117666160     20993
6290855005     21656
6391747486     15868
6775888955     24523
6962181067     29249
7007744171     31525
7086361926     26124
8053475328     31825
8253242879     17556
8378563200     40274
8583815059     19130
8792009665     24884
8877689391     41414

### Task2 - SuperStore USA Data Question

In [14]:
# load this data in sql and in pandas with a relation in sql

df_01 = pd.read_excel('Superstore_USA.xlsx', engine='openpyxl',sheet_name='Orders')
df_02 = pd.read_excel('Superstore_USA.xlsx', engine='openpyxl',sheet_name='Returns')
df_03 = pd.read_excel('Superstore_USA.xlsx', engine='openpyxl',sheet_name='Users')

df_01.to_csv('Superstore_USA11.csv')
df_02.to_csv('Superstore_USA12.csv')
df_03.to_csv('Superstore_USA13.csv')


df01 = pd.read_csv('Superstore_USA11.csv')
df02 = pd.read_csv('Superstore_USA12.csv')
df03 = pd.read_csv('Superstore_USA13.csv')

!csvsql --insert --create-if-not-exists  --db "mysql+mysqlconnector://root:root@localhost/student"  Superstore_USA11.csv
!csvsql --insert --create-if-not-exists  --db "mysql+mysqlconnector://root:root@localhost/student"  Superstore_USA12.csv
!csvsql --insert --create-if-not-exists  --db "mysql+mysqlconnector://root:root@localhost/student"  Superstore_USA13.csv

my_db = connection.connect(host="localhost",user="root",passwd="root",database="student")
cursor = my_db.cursor()
query="ALTER TABLE superstore_usa11 ADD PRIMARY KEY(`Row ID`)"
cursor.execute(query)
cursor1 = my_db.cursor()
query="ALTER TABLE superstore_usa12 ADD PRIMARY KEY(`Order ID`)"
cursor1.execute(query)

C:\Users\HP\anaconda3\envs\MongoDbtest\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
C:\Users\HP\anaconda3\envs\MongoDbtest\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
C:\Users\HP\anaconda3\envs\MongoDbtest\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".
C:\Users\HP\anaconda3\envs\MongoDbtest\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
C:\Users\HP\anaconda3\envs\MongoDbtest\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".
C:\Users\HP\anaconda3\envs\MongoDbtest\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
C:\Users\HP\anaconda3\envs\MongoDbtest\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".

In [15]:
# Find out how return that we have recived and with a product id 
df3 = pd.merge(df01,df02,on='Order ID')
df4 = df3.groupby('Product Name')['Order ID'].count().to_frame(name='number of orders')
df4

                                                    number of orders
Product Name
#10 White Business Envelopes,4 1/8 x 9 1/2                         1
12 Colored Short Pencils                                           1
232                                                                1
600 Series Flip                                                    1
6160                                                               1
...                                                              ...
Xerox 197                                                          2
Xerox 1980                                                         1
Xerox 1983                                                         2
Xerox 210                                                          1
Zoom V.92 V.44 PCI Internal Controllerless FaxM...                 1

[94 rows x 1 columns]

In [16]:
# try  to join order and return data both in sql and pandas 
#pandas - 
df5 = pd.merge(df01,df02,on='Order ID')
#sql-
#select A.`Order ID` from superstore_usa12 A INNER JOIN  superstore_usa12 B on A.`Order ID` = B.`Order ID`

In [17]:
# Try to find out how many unique customer that we have 
df01['Customer ID'].nunique()

2703

In [18]:
# try to find out in how many regions we are selling a product and who is a manager for a respective region
dft = df01['Region'].value_counts().to_frame().reset_index()
pd.merge(dft,df03,left_on='index',right_on='Region')[['index','Manager']]

     index  Manager
0  Central    Chris
1     East     Erin
2     West  William
3    South      Sam

In [19]:
# find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset
df01['Ship Mode'].value_counts(normalize=True) * 100

Regular Air       74.644600
Delivery Truck    13.611288
Express Air       11.744112
Name: Ship Mode, dtype: float64

In [20]:
#8 -  Create a new coulmn and try to find our a diffrence between order date and shipment date
df01['Shipment_Order_Days'] = pd.to_datetime(df01['Ship Date']) - pd.to_datetime(df01['Order Date'])
df01

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Shipment_Order_Days
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days

In [21]:
# base on question number 8 find out for which order id we have shipment duration more than 10 days 
df01[df01['Shipment_Order_Days'].dt.days > 10]['Order ID'].unique()

array([87215, 86318, 87957, 19556, 86177, 88223, 88352, 87572, 91294,
       86434, 86436, 87300, 19841], dtype=int64)

In [22]:
# Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well
df_internal = df01[df01['Shipment_Order_Days'].dt.days > 15]['Order ID'].to_frame()
pd.merge(df_internal,df02)

Empty DataFrame
Columns: [Order ID, Unnamed: 0, Status]
Index: []

In [23]:
# Gorup by region and find out which region is more profitable 
df01.groupby('Region')['Profit'].sum().sort_values(ascending=False).index[0]

'Central'

In [24]:
# Try to find out overalll in which country we are giving more didscount 
df01.groupby('State or Province')['Discount'].sum().sort_values(ascending=False).index[0]

'California'

In [25]:
# Give me a list of unique postal code
df01['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

In [26]:
# which customer segement is more profitalble find it out .
df01.groupby('Customer Segment')['Profit'].sum().sort_values(ascending=False).index[0]

'Corporate'

In [27]:
# try to find out the 10th most loss making product catagory .
df01.groupby('Product Sub-Category')['Profit'].sum().sort_values().index[9]

'Computer Peripherals'

In [28]:
# Try to find out 10 top  product with highest margins 
df01.groupby('Product Name')['Product Base Margin'].sum().sort_values(ascending=False).index[0:9]

Index(['Global High-Back Leather Tilter, Burgundy',
       'BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables',
       'Bevis 36 x 72 Conference Tables',
       'Adesso Programmable 142-Key Keyboard', 'Accessory36',
       'Office Star - Mid Back Dual function Ergonomic High Back Chair with 2-Way Adjustable Arms',
       'Office Star - Contemporary Task Swivel chair with 2-way adjustable arms, Plum',
       'Microsoft Internet Keyboard', 'StarTAC 7760'],
      dtype='object', name='Product Name')